
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div class="panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title"> Lista de cliente Json</h1>
    </div>
    <div class="panel-body">
        @Html.Partial("ListaCLienteJson")
    </div>
</div>
